<div class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <h2>
                            <a href="/"> <img src="/assets/img/logo.png" title="El-Hoda" alt="El-Hoda" style="
                                height: 120px;
                                width: 120px;
                            "></a>
                        </h2>
                    </div>
                    <p>El-Hoda Corporation is Capable of Providing High Quality Food Grains</p>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/El-Hoda-Corporation-for-Import-Export-108717444396038" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=201010506014" target="_blank">
                                <i class="bx bxl-whatsapp"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/elhodacorporation" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:elhodaagrotrade@gmail.com">
                                <i class='bx bx-mail-send'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Instagram</h3>
                    <ul class="instagram-list">
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram1.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram2.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram3.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram4.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram5.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram6.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram7.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram8.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="assets/img/instagram/instagram1.jpg" alt="image">
                                <i class="bx bxl-instagram"></i>
                                <a href="https://www.instagram.com/elhodacorporation" target="_blank" class="link-btn"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Links</h3>
                    <ul class="quick-links">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/products">Products</a>
                        </li>
                        <li>
                            <a href="/terms">Terms</a>
                        </li>
                        <li>
                            <a href="/privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>
                    <ul class="footer-contact-info">
                        <li>
                            <i class='bx bxl-whatsapp'></i>
                            <span>WhatsApp</span>
                            <a href="https://api.whatsapp.com/send?phone=201010506014" target="_blank">(+20) 1010506014</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <span>Email</span>
                            <a href="mailto:elhodaagrotrade@gmail.com">elhodaagrotrade@gmail.com</a>
                        </li>
                        <li>
                            <i class='bx bx-map'></i>
                            <span>Address</span> Kafr el Sheikh Governorate, Egypt
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>
                        Copyright © 2021 El-Hoda. All Rights Reserved by
                        <a href="/">
                            El-Hoda
                        </a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>
                            <a href="/terms">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="/privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>