<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>El-Hoda</title>

<link rel="icon" type="image/png" href="/assets/img/elhoda-logo.svg">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/css/animate.min.css">

<link rel="stylesheet" href="/assets/css/meanmenu.css">

<link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<link rel="stylesheet" href="/assets/css/nice-select.min.css">

<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">

<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="/assets/css/odometer.min.css">

<link rel="stylesheet" href="/assets/css/magnific-popup.min.css">

<link rel="stylesheet" href="/assets/css/style.css">

<link rel="stylesheet" href="/assets/css/responsive.css">

